# Build outputs
.next/
out/
build/
dist/

# dependencies
node_modules/
bun.lock

# env
.env
.env.local
.env.production

# docs
docs/

# Vite
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
